.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "sidebar content"
    "footer footer";
    background-color: #999;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: white;
    grid-area: header;
    background-color: #888;
}

.header h1{
    margin: 0;
    padding: 20px;
}

/* navbar css starts here  */

.nav {
    display: flex;
    justify-content: center;
    color: white;
    grid-area: nav;
    background-color: #777;
    position: sticky;
    top: 0px;
}

.nav .nav-list {
    color: white;
    list-style: none;
}

.nav-list li {
    color: white;
    display: inline-block;
    margin: 0.5rem;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}

.nav-list li a:hover, .nav-list li a:active {
    background-color: white;
    color: black;
}

/* navbar css ends here  */

/* content css starts here */

.content { 
    color: white;
    height: 100vh;
    grid-area: content;
    background-color: #666;
}

.content h2{
    padding: 1rem;
}

.content ul {
    list-style-type: none;
}

.content ul li{
    display: inline-block;
}

.content ul li a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
}

.content ul li a:hover, .content ul li a:active {
    background-color: white;
    color: black;
}

/* content css ends here  */

/* sidebar css starts here  */

.sidebar {
    color: white;
    grid-area: sidebar;
    background-color: #555;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li{
    display: block;
    padding: 20px;
    margin: 10px 0;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    padding: .5rem;
}

.sidebar ul li a:hover, .sidebar ul li a:active  {
    background-color: white;
    color: black;
}

/* sidebar css ends here  */

.footer {
    color: white;
    grid-area: footer;
    background-color: #333;
    padding: 10px;
}