body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    height: fit-content;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(230, 113, 113);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(145, 255, 0);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

ul {
    width: fit-content;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar li {
    display: inline;
    position: relative;
    padding: 20px;
    margin: 10px;
}
.navbar li a:hover {
    background-color: #111;
}
.navbar li a {
    display: block, inline;
    padding: 20px;
  
}
.navbar ul {
    padding: 20px;
}

.container {
    display: flex;
    height: fit-content
}

.sidebar {
    padding: 10px;
    position: static;
    width: 200px;
    background-color: wheat;
    height: 980px;
}
.sidebar li {
    display: block;
    position: relative;
    padding: 10px;
    margin: 10px;
}
.sidebar li a:hover{
    background-color: rgba(0, 0, 0, 0.685);
}
.sidebar li a {
    display: block;
    padding: 20px;
}
.navbar {
    color: white;
    padding: 10px;
    position: static;
    width: auto;
    background-color: #333;
    height: 70px;
    position: sticky;
    top: 0px;
}

.main-content {
    text-align: none;
    position: static;
    padding: 30px;
}

header,
footer {

    background-color: #333;
    color: whitesmoke;
    padding: 15px;
}