body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(113, 230, 133);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(145, 255, 0);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar li {
    display: inline;
    position: relative;
    top: 20px;
    margin: 10px;
    padding: 10px;
    
}
.container {
    display: flex;
    height: 1000px;
}

.sidebar {
    padding: 10px;

    position: static;
    width: 200px;
    background-color: wheat;
    height: 980px;
}

.navbar {
    color: white;
    padding: 10px;
    position: static;
    width: auto;
    background-color: #333;
    height: 100px;
    position: sticky;
    top: 0px;
}

.main-content {
    text-align: none;
    position: static;
    padding: 30px;
}

header,
footer {

    background-color: #333;
    color: whitesmoke;
    padding: 15px;
}