body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    
    height: 85vh;
}
.sidebar {
    padding: 10px;
    float: left;
    position: static;
    width: 200px;
    background-color: wheat;
    height: 83vh;
}
.main-content {
    text-align: center;
    position: static;
    padding: 30px;
}
header, footer {
    
    background-color: #333;
    color: whitesmoke;
    padding: 15px;
}