body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: stretch;
    background-color: #777;
}
.sidebar {
    color: white;
    padding: 10px;
    align-self: left;
    position: relative;
    width: 800px;
    background-color: #333;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar li {
    display: block;
    margin-top: 20px;
    list-style: none;
}

.sidebar a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 10px;
}




.main-content {
    text-align: none;
    position: static;
    padding: 30px;
    height: 85vh;
}
header, footer {
    
    background-color: #111;
    color: whitesmoke;
    padding: 15px;
}

.static-box {
    position: static;
    height: 200px;
    width: 200px;
    background-color: red;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}