body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 2000px;
}
.sidebar {
    padding: 10px;
    float: left;
    position: static;
    width: 800px;
    background-color: wheat;
    height: 1980px;
}
.main-content {
    text-align: none;
    position: static;
    padding: 30px;
}
header, footer {
    
    background-color: #333;
    color: whitesmoke;
    padding: 15px;
}

.sticky-box {
    width: 200px;
    height: 200px;
    top: 10px;
    position: sticky;
    background-color: red;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}