body {
    font-family: Arial, Helvetica, sans-serif;
}

.tag {
    
    background-color:rgb(104, 189, 48);
    color: black;
    width: 35%;
}
.code {
    background-color: rgb(104, 189, 48);
    color: black(0, 0, 0);
}
.preview {
    background-color:rgb(104, 189, 48);
    color: black;
}
td, th, table {
    width: 50%;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}