/* CSS for basichtmltags.html */


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #777;
}

.tag {
    padding: 5px 10px;
    margin: 20px;
    background-color: #999;
    color: black;
    width: 35%;
}

.code {
    background-color: #999;
    color: black(0, 0, 0);
}

.preview {
    background-color: #999;
    color: black;
}

td,
th,
table {
    width: 50%;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

.home-button a:link {
    color: white;
    background-color: black;
    text-decoration: none;
}

.home-button a:visited {
    color: white;
    background-color: black;
    text-decoration: none;
}

.home-button a:hover {
    color: rgb(145, 255, 0);
    background-color: #333;
    text-decoration: none;
    border-radius: 25px;
}

.home-button a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.home-button a {
    position: fixed;
    right: 10%;
    display: block;
    padding: 20px;
    margin: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
